<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <!-- Define a vehicle type for the GSE -->
    <vType id="GSE" accel="0.8" decel="4.5" length="5.0" maxSpeed="10" color="0,0,1"/>

    <route id="r1" edges="taxi1-2 taxi2-1"/>
    <route id="r2" edges="taxi1-term1 taxi1-parking"/>

    <vehicle id="veh1" type="GSE" route="r1" depart="0"/>
    <vehicle id="veh2" type="GSE" route="r2" depart="5"/>
</routes>
